// FIRST SCREEN COMPONENTS
#input-receipt-container {
    .upload-section {
        display: flex;
        flex-direction: column;
        .upload-instruction {
            align-self: flex-start;
            margin-bottom: .2rem;
        }
    
        .input-container {
            margin-bottom: 2rem;
        }
    
        .participants-instruction {
            margin-bottom: .2rem !important;
            text-align: start;
        }
    
        .participants-input {
            border-radius: 8px;
            border-color: rgb(118, 118, 118);
            padding: .1rem .5rem;
            outline: none;
            margin-bottom: 1rem;
        }
    }

    #tags-container {
        display: flex;
        flex-wrap: wrap;
        .tag {
            margin-right: .8rem;
            margin-bottom: .5rem;
            padding: 0.15rem 0.35rem .25rem .35rem;
            border: 2px solid #cccfd3;
            border-radius: 5px;
            background-color: #E7E9EC;
            cursor: pointer;

            .bolden {
                font-weight: bolder;
            }
        }
    }

    #submit-button {
        min-width: 6rem;
    }
}

// SECOND SCREEN COMPONENTS
#receipt-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;

    span {
        font-family: "Inter",sans-serif;
        color: #E7E9EC;
    }

    // Styling for the name buttons
    .name-buttons-container {
        display: flex;
        flex-wrap: wrap;
        .toggle-button {
            padding: .15rem .45rem .35rem .45rem;
            margin-right: .8rem;
            margin-bottom: .5rem;
            border: 2px solid #cccfd3;
            border-radius: 5px;
            background-color: #E7E9EC;
            cursor: pointer;
            font-family: "Inter",sans-serif;
            color: black;
        }

        .selected {
            background-color: #a7a9ac;
            outline: 2px solid #cccfd3;
            transition: .15s;
        }
    }

    // Styling for the receipt items
    .receipt-item {
        width: 85%;
        margin: .35rem 3rem;

        padding: .25rem .75rem;
        border: 2px solid ;
        border-radius: 8px;
        cursor: pointer;

        .top-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .bottom-row {
            display: flex;
            justify-content: space-between;


            #claimed-by {
                i {
                    font-size: xx-small;
                }
            }
        }

        .item-name {
        }

        .item-grow {
            font-weight: 600;
        }
    }

    .selected {
        outline: 3px solid ;
        transition: 0.15s;
    }
}