// FIRST SCREEN COMPONENTS
#input-receipt-container {
    .upload-section {
        display: flex;
        flex-direction: column;
        .upload-instruction {
            align-self: flex-start;
            margin-bottom: .2rem;
        }
    
        .input-container {
            margin-bottom: 2rem;
        }
    
        .participants-instruction {
            margin-bottom: .2rem !important;
            text-align: start;
        }
    
        .participants-input {
            border-radius: 8px;
            border-color: rgb(118, 118, 118);
            padding: .1rem .5rem;
            outline: none;
            margin-bottom: 1rem;
        }
    }

    #tags-container {
        display: flex;
        flex-wrap: wrap;
        .tag {
            margin-right: .8rem;
            margin-bottom: .5rem;
            padding: 0.15rem 0.35rem .25rem .35rem;
            border: 2px solid #cccfd3;
            border-radius: 5px;
            background-color: #E7E9EC;
            cursor: pointer;

            .bolden {
                font-weight: bolder;
            }
        }
    }

    #submit-button {
        min-width: 6rem;
    }
}

.modal-content {
    .modal-body {
        #summary-row {
            margin-bottom: .75rem;

            .summary-top-row {
                display: flex;
                justify-content: space-between;

            }
            #claimed-summary-container {
                .item-row {
                    display: flex;
                    justify-content: space-between;
                }
            }
            #tip-row {
                display: flex;
                justify-content: space-between;
            }
        }

        #final-row {
            display: flex;
            justify-content: space-between;
        }


    }
}
#share-body-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;

    input {
        height: 2.75rem;
        border-radius: 8px 0 0 8px;
    }
    #copy-button {
        height: 2.75rem;
        border-radius: 0 8px 8px 0;
        display: flex;
        align-items: center;
        padding: 15px 25px;
    }

}


// SECOND SCREEN COMPONENTS
#nav-container {
    .container {

        #remaining-text {
            margin-right: .75rem;
        }
    }
    #summary-button {
        margin-right: .75rem;
    }
}

#receipt-breakdown-container {
    display: flex;
    flex-direction: column;

    #receipt-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
    
        .item-name {
            font-family: "Inter",sans-serif;
            color: #020202;
        }
        .item-price{
            font-family: "Inter",sans-serif;
            color: #020202;
        }
        #tap-instruction{
            font-family: "Inter",sans-serif;
            color: #363636;
        }
        span {
            font-family: "Inter",sans-serif;
            color: #020202;
        }
    
        // Styling for the name buttons
        .name-buttons-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            .toggle-button {
                padding: .15rem .45rem .35rem .45rem;
                margin-right: .8rem;
                margin-bottom: .5rem;
                border: 2px solid #cccfd3;
                border-radius: 5px;
                background-color: #E7E9EC;
                cursor: pointer;
                font-family: "Inter",sans-serif;
                color: black;
            }
    
            .selected {
                background-color: #a7a9ac;
                outline: 2px solid #cccfd3;
                transition: .15s;
            }
        }
    
        // Styling for the receipt items
        .receipt-item {
            width: 85%;
            margin: .35rem 3rem;
    
            padding: .25rem .75rem;
            border: 2px solid ;
            border-radius: 8px;
            cursor: pointer;
    
            .top-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
    
            .bottom-row {
                display: flex;
                justify-content: space-between;
    
    
                #claimed-by {
                    i {
                        font-size: xx-small;
                    }
                }
            }
    
            .item-grow {
                font-weight: 600;
            }
        }

        .summary-row {
            width: 85%;
            margin: .35rem 3rem;
    
            padding: .25rem .75rem;
            
            // background-color: #dddddd;
        }


    }

    .bottom-row {
        display: flex;
        justify-content: space-between;
        .bottom-button {
            width: 100%;
            margin: 2.5rem 2.5rem;
        }
    }
}

#input-names-input{
    width:50%;
}