body {
    height:100%;
    background-color: #303846; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #13161c -30%, #303846 10%, #303846 90%,#13161c 130%);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, h1, label {
    font-family: "Inter",sans-serif;
    color: #E7E9EC;
    text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './App.scss';
@import './Components/MainContainer.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './Shared/SharedComponents.scss';